<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email", ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password", ng-model="user.password">
      </label>
    </div>
    <button class="button button-block button-balanced", ng-click="login(user)">
      Sign In
    </button>
    <button class="button button-block button-dark", ui-sref="auth.signup">
      Sign Up
    </button>
    <ion-item>Sign in using</ion-item>
    <button class="button button-block button-positive", ng-click="social('facebook')">
      Facebook
    </button>
    <button class="button button-block button-energized", ng-click="social('google')">
      Google
    </button>
  </ion-content>
</ion-view>
