<ion-view view-title="Account">
  <ion-content ion-sticky class="has-header">
    <div class="account-profile-bg">

	    <div class="item item-avatar" style="background-color:transparent; border:none;width:300px;margin:auto;">
		    <img src="img/ben.png">
		    <h2 style="color:#fff!important;font-size:2.3em"> John Doe</h2>
		    <p style="color:#fff!important">your-email@mailprovider.com</p>
		</div>

    </div>
    <ul class="list">

	  <li class="item item-toggle">
	     Track my GPS
	     <label class="toggle">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	   <li class="item item-toggle">
	     E-Mail Notifications
	     <label class="toggle">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	   <li class="item item-toggle">
	     App Notifications
	     <label class="toggle">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	   <li class="item item-toggle">
	     Sleep mode
	     <label class="toggle">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	</ul>
    <button class="button button-full button-assertive", ng-click="logoutAlert()">
      Sign Out
    </button>
  </ion-content>
</ion-view>
