<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/ben.png">
    <h2>John Doe</h2>
    <p>January 05, 2016</p>
  </div>

  <div class="item item-body">

    <p>
      This is an important announcement for our sales team. We made a lot of money in Region A but we totally screwed up in Region B.
      <br />
      That's why we will concentrate more on Region C to gather new customers.
    </p>
    <p align="right">
      <ion-icon name="like" role="img" class="ion-heart icn" aria-label="facebook"></ion-icon> <a href="#" class="subdued">1</a>
      <ion-icon name="facebook" role="img" class="ion-chatbox icn" aria-label="facebook"></ion-icon> <a href="#" class="subdued">5</a>
    </p>
  </div>

</div>
  </ion-content>
</ion-view>
